// program to find maximum element in an array
#include<stdio.h>
int main()
{
int a,g,c,d,f,e=0;
printf("Enter the number of elements in an array: ");
scanf("%d", &a);
int b[a];
for(d=0;d<a;d++)
{
printf("Enter digit: ");
scanf("%d", &g);
b[d]=g;
}


for(c=0;c<a;c++)
{
if(b[c]>e)
{
e= b[c];
}
}
printf("Largest element: %d\n",e);
return 0;

}
